tr:hover{
  color: blue;
}
tr:active{
  color: green;
}
.label{
  width: 300px;
}
.floating{
  width: 50%;
  float: right;
}
#noland_img{
  display: none;
  left: 250px;;
}
#noland_brain{
  width: 100%;
}
.panel{
  height:auto;
}
.form_controls_1{
  width: 100%;
  min-width: 500px;
  max-height: 100%;
  display: none;
}
.button:active:focus{
  box-shadow: none;
  outline: none;
}
.data, #dataButton, .tips, #tipButton{
  text-align: center;
  width: 100%;
}
.parsed {
  width: 100%;
  color: darkred;
}
#pokemon_searchautocomplete-list, #pokemon_clearautocomplete-list, #pokemon_checkautocomplete-list {
  width: 100%;
}
#scientist-quotes-tips,
#scientist-quotes-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.search,
.clear,
.reset {
  height: 150px;
}
.tiny {
  font-size: 0.75rem;
}

pre {
  color: black;
}

.table{
  border-spacing: 0px;
}
.pokemonDisplay {
  overflow-y: scroll;
  height: 500px;
  display: block;
  border: 1px dashed red;
  margin-top: 1%;
  padding: 2px;
}
.nolandDisplay {
  overflow-y: scroll;
  height: 350px;
  max-width: 100%;
  display: block;
  border: 1px dashed red;
  margin-top: 1%;
  padding: 2px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
}

#quoteButton:hover,
#dataButton:hover,
.content > tbody > tr:hover {
  background-color: #ddd;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}
.hidden{
  display: none;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 5px;
  display: none;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  width: 100%;
}
.column {
  margin-left: 10px;
}
.input,
.button {
  margin-bottom: 50px;
}

/* fancy View indication styling */
#viewIndicatorAll, #viewIndicator1, #viewIndicator4{
  color: black;
  display: inline;
}
.highlight-red {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 20, 0, 0.2),
    rgba(255, 20, 0, 0.7) 95%,
    rgba(255, 20, 0, 0.1)
  );
}
.highlight-green {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(0, 255, 20, 0.2),
    rgba(0, 255, 20, 0.7) 95%,
    rgba(0, 255, 20, 0.1)
  );
}
.highlight-yellow {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 224, 0, 0.2),
    rgba(255, 224, 0, 0.7) 95%,
    rgba(255, 224, 0, 0.1)
  );
}
/*
.circle-sketch-highlight{
  position:relative;
  left:0.5em;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.5em;
  border-width:2px;
  border-style:solid;
  border-color:#ef8c22;
  position:absolute;
  border-right-color:transparent;
  width:150%;
  height:2em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}
.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.55em;
  top:-0.55em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:#ef8c22;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:150%;
  height:2em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}
*/
/* Pokeball stuffs */
.resetDiv{
  border-right: 1px solid black;
  width: 30%;
}
.changeView{
  border-right: 1px solid black;
  width: 80%;
}
#changeViewLabel{
  margin-left: 5%;
  width: 100%;
}
#changeViewButtonAll{
  left: 5%;
  border: 0;
  size: inherit;
}
#changeViewButton1{
  left: 30%;
  border: 0;
  size: inherit;
}
#changeViewButton4{
  left: 50%;
  border: 0;
  size: inherit;
}
#changeViewButton1 > .poke_box{
  left: 5%;
  top: 0px;
}
#changeViewButton4 > .poke_box{
  left: 50%;
  top: 0px;
}
#changeViewButtonAll > .poke_box{
  left: 30%;
  top: 0px;
}
#resetButton, #findButton, #clearButton, #roundIteratorButton, #checkButton{
  border: 0;
  size: inherit;
}
#resetLabel{
  width: 100%;
}
#checkButton > .poke_box{
  left:0;
  top: 0;
}
#resetButton > .poke_box{
  left: 50%;
  top: 0px;
}
#roundIteratorButton > .poke_box{
  left: 100%;
  top: 0px;
}
#clearButton > .poke_box{
  left: 100%;
  top: 0px;
}
#findButton > .poke_box{
  left: 100%;
  top: 5px;
}
#findButton > .poke_box{
  left: 100%;
  top: 5px;
}
.poke_box{
  position: absolute;
}
.pokeball{
    position: relative;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
    animation-play-state: paused;
}
.pokeball:hover{
    animation-play-state: running;
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
  width: 100%;
}
.pokeball::before {
    left: -80px;
    background: red;
    width: 200%;
    height: 50%;
  }
.pokeball::after {
    top: calc(50% - 5px);
    left: -80px;
    width: 200%;
    height: 10px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
  }
  .pokeball:hover .pokeball__button{
      animation-play-state: running;
  }

  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }

 /* autocomplete items styling */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -50px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.redLineTable{
  color: darkred;
  background-color: lightcoral;
  text-decoration: line-through;
  font-weight: lighter;
  font-style: italic;
}
