
.label{
  width: 100%;
}
.button:active:focus{
  box-shadow: none;
  outline: none;
}
.data, #dataButton, .tips, #tipButton{
  text-align: center;
  width: 100%;
}
.parsed {
  width: 100%;
  color: darkred;
}
#pokemon_searchautocomplete-list, #pokemon_clearautocomplete-list {
  width: 100%;
}
#scientist-quotes-tips,
#scientist-quotes-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search,
.clear,
.reset {
  height: 150px;
}
.tiny {
  font-size: 0.75rem;
}

pre {
  color: black;
}

.table{
  border-spacing: 0px;
  width: 100%;
}
.pokemonDisplay {
  overflow-y: scroll;
  height: 500px;
  display: block;
  border: 1px dashed red;
  margin-top: 50px;
  padding: 2px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
}

#quoteButton:hover,
#dataButton:hover,
.content > tbody > tr:hover {
  background-color: #ddd;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 5px;
  display: none;
  overflow: hidden;
  text-align: center;
  background-color: #f1f1f1;
  width: 100%;
}
.column {
  margin-left: 10px;
}
.input,
.button {
  margin-bottom: 50px;
}

/* Pokeball stuffs */
#resetButton, #findButton, #clearButton{
  border: 0;
  size: inherit;
}
.poke_box{
    position: absolute;
}
#resetButton > .poke_box{
  left: -100px;
  top: 0px;
  size: inherit;
}
#clearButton > .poke_box{
    left: 100%;
  top: 0px;
}
#findButton > .poke_box{
  left: 100%;
  top: 5px;
}
.pokeball{
    position: relative;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
    animation-play-state: paused;
}
.pokeball:hover{
    animation-play-state: running;
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
  width: 100%;
}
.pokeball::before {
    left: -80px;
    background: red;
    width: 200%;
    height: 50%;
  }
.pokeball::after {
    top: calc(50% - 5px);
    left: -80px;
    width: 200%;
    height: 10px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
  }
  .pokeball:hover .pokeball__button{
      animation-play-state: running;
  }

  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }

 /* autocomplete items styling */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -50px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.redLineTable{
  color: darkred;
  background-color: lightcoral;
  text-decoration: line-through;
  font-weight: lighter;
  font-style: italic;
}